body {
    color: white;
<<<<<<< HEAD
    background-color: black;
    font-size: 32px;
    font-family: 'Sacramento', cursive;
    margin-top: 5%;
    margin-left: 20%;
    margin-right:20%;

  }
=======
    background-color: black;
    font-family: Arial, Helvetica, sans-serif
  }
  
>>>>>>> 76f413c8a4bed59b3eefb4c046e24f56d07deb19

